<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9898eb">  <td>19/07/13 16:24:57</td>   <td>0</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:com.leafBot.testcases.CL@5ed7a6]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3819417</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>19/07/13 16:24:57</td>   <td>445</td> <td>&nbsp;</td><td title="&gt;&gt;CL.setData()[pri:0, instance:com.leafBot.testcases.CL@5ed7a6]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3819417</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/07/13 16:24:57</td>   <td>454</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.leafBot.testcases.CL@5ed7a6]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3819417</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/07/13 16:24:57</td>   <td>648</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.leafBot.testcases.CL@5ed7a6]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3819417</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/07/13 16:24:58</td>   <td>1643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.leafBot.testcases.CL@5ed7a6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@3819417</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>19/07/13 16:25:03</td>   <td>6614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CL.loginAndLogout(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.leafBot.testcases.CL@5ed7a6]">loginAndLogout</td> 
  <td>main@3819417</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/07/13 16:25:16</td>   <td>19032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.leafBot.testcases.CL@5ed7a6]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@3819417</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/07/13 16:25:18</td>   <td>21218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.leafBot.testcases.CL@5ed7a6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@3819417</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>19/07/13 16:25:22</td>   <td>25746</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CL.loginAndLogout(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.leafBot.testcases.CL@5ed7a6]">loginAndLogout</td> 
  <td>main@3819417</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/07/13 16:25:35</td>   <td>38014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.leafBot.testcases.CL@5ed7a6]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@3819417</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/07/13 16:25:37</td>   <td>40195</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.leafBot.testcases.CL@5ed7a6]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3819417</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/07/13 16:25:37</td>   <td>40220</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:com.leafBot.testcases.CL@5ed7a6]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@3819417</td>   <td></td> </tr>
</table>
